<p>Hello everyone, </p><p>So beside inspecting all the XML HTTP REQUESTS to get the restaurants details i'm gonna show another technique to get mostly all the same information's (name, address, city, country, phone number ...) of course there is no benefit for choosing between the technique I showed in the (<strong>Airbnb Spider lecture</strong>) over the one i'm gonna explain in this article(<strong>"all roads lead to Rome").</strong></p><p><br></p><p>Alright, let's take the <a href="https://www.airbnb.com/restaurants/4430?adults=0&amp;children=0&amp;infants=0&amp;guests=0&amp;source=p2&amp;currentTab=restaurant_tab&amp;searchId=413ccc3a-c327-4154-9cda-3fa35af46cf1&amp;sectionId=2a6256c2-4eb1-4d4a-920d-1d195d30cd86&amp;pdpReferrer=1&amp;searchContext%5Bsearch_id%5D=0c9207cf-5506-4dba-abff-3da6fc546ac3&amp;searchContext%5Bfederated_search_id%5D=fe4877f9-a449-49cf-932e-5f02c47e7eb7&amp;searchContext%5Bmobile_search_session_id%5D=&amp;searchContext%5Bsubtab%5D=9" rel="noopener noreferrer" target="_blank">Red Rooster</a> restaurant as an example: </p><figure><img src="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2018-12-27_10-56-07-1891b782eb2127d6126f5ce6813a3929.PNG"></figure><p>Now you may think that we can use a simple <code>scrapy.Request(url='</code><a href="https://www.airbnb.com/restaurants/4430?adults=0&amp;children=0&amp;infants=0&amp;guests=0&amp;source=p2&amp;currentTab=restaurant_tab&amp;searchId=413ccc3a-c327-4154-9cda-3fa35af46cf1&amp;sectionId=2a6256c2-4eb1-4d4a-920d-1d195d30cd86&amp;pdpReferrer=1&amp;searchContext%5Bsearch_id%5D=0c9207cf-5506-4dba-abff-3da6fc546ac3&amp;searchContext%5Bfederated_search_id%5D=fe4877f9-a449-49cf-932e-5f02c47e7eb7&amp;searchContext%5Bmobile_search_session_id%5D=&amp;searchContext%5Bsubtab%5D=9" rel="noopener noreferrer" target="_blank"><code>RedRooster</code></a><code>', callback=self.parse_id)</code>and XPath to extract all the data we want, unfortunately no you can't because not all the restaurant details page share the same structure so it's almost impossible to follow this approach. </p><p>Alternatively what I found interesting is that Airbnb within each restaurant detail page we have a script tag (within the head node) which contains the restaurant details as a JSON object as the image below shows.</p><figure><img src="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2018-12-27_11-08-11-68512b8c580d35b2edd3ff7b15a161b2.PNG"></figure><p>Now reading a JSON object like this is a pain, so just copy it and then open this website(<a href="https://jsonformatter.curiousconcept.com/" rel="noopener noreferrer" target="_blank">JSON FORMATTER</a>) paste in the JSON object and voila: </p><figure><img src="https://udemy-images.s3.amazonaws.com:443/redactor/raw/2018-12-27_11-27-00-80c2a5c08576450760a809816b559196.gif"></figure><p>This object contains nearly all the data we want (ID within the URL, address, latitude, longitude, description, phone number ..) except the Restaurant website. </p><p>I know you can ask how did you know that there is a script node within the head of the HTML document which contains the JSON object ? Well honestly I didn't know at first I was just reading their HTML markup and I found it.</p><p>---------------------- </p><p>Now if you want to follow this approach you must sent a request to: </p><p><code>yield scrapy.Request(url='https://www.airbnb.com/restaurants/{0}?adults=0&amp;children=0&amp;infants=0&amp;guests=0&amp;source=p2&amp;currentTab=restaurant_tab&amp;searchId=413ccc3a-c327-4154-9cda-3fa35af46cf1&amp;sectionId=2a6256c2-4eb1-4d4a-920d-1d195d30cd86&amp;pdpReferrer=1&amp;searchContext%5Bsearch_id%5D=0c9207cf-5506-4dba-abff-3da6fc546ac3&amp;searchContext%5Bfederated_search_id%5D=fe4877f9-a449-49cf-932e-5f02c47e7eb7&amp;searchContext%5Bmobile_search_session_id%5D=&amp;searchContext%5Bsubtab%5D=9'.format(restaurant.get('id')), callback=self.parse)</code></p><p><br></p><p> and your parse method should like this: </p><pre class="prettyprint linenums">def parse(self, response):
    script = response.xpath("//script[@type='application/ld+json']/text()").extract_first()
    restaurant = json.loads(script)
    yield {
          'title': restaurant.get("name"),
          'type': restaurant.get("servesCuisine"),
          'description': restaurant.get("description"),
          'place': {
                "address": restaurant.get("address").get("streetAddress"),
                "city": restaurant.get("address").get("addressLocality"),
                "country": restaurant.get("address").get("addressCountry"),
                'latitude': restaurant.get("geo").get("latitude"),
                'longitude': restaurant.get("geo").get("longitude")
            },
            'phone_number': restaurant.get("telephone"),
            #website: can't be extracted 
        }
</pre><p>So this was another technique you can use if you have have any questions please go ahead and ask me in the Q&amp;A.</p><p>Kind regards,<br>Ahmed.</p>