<p>Hello everyone,<br>Down bellow you will find the project source code link.<br></p><p><a href="https://drive.google.com/open?id=1udg3EaCP0wkd6PVZ9xjut1lXh1UxCOlF" rel="noopener noreferrer" target="_blank">demo_airbnb </a></p><p>Best regards,<br>Ahmed</p>