<p>Hi there, </p><p>This section is from the old version of this course, you will learn how to download images and all kind of files using Scrapy.</p><p>I&nbsp;apologize if the quality of the sound looks different.</p><p>Kind regards,</p><p>Ahmed.</p>