<h4><strong>JavaScript forms</strong></h4><p><br>Hi guys,<br>Just one quick remark here, if the form does <strong>require JavaScript</strong> then <strong>you can't use the FormRequest class</strong>, so as an alternative solution you have to use another class called <strong>SplashFormRequest </strong>which does have the same methods as in the <strong>FormRequest </strong>class and takes the same arguments.</p><p><br></p><h4><strong>Example:</strong></h4><pre class="prettyprint linenums"># Splash should be running on the background

import&nbsp;scrapy
from scrapy_splash import SplashRequest, SplashFormRequest


class&nbsp;QuotesLoginSpider(scrapy.Spider):
&nbsp;&nbsp;&nbsp;&nbsp;name&nbsp;=&nbsp;'quotes_login'
&nbsp;&nbsp;&nbsp;&nbsp;allowed_domains&nbsp;=&nbsp;['quotes.toscrape.com']
&nbsp;&nbsp;&nbsp;&nbsp;
    script = '''
        function main(splash, args)
          assert(splash:go(args.url))
          assert(splash:wait(0.5))
          return splash:html()
        end
    '''
    
    def start_requests(self):
        yield SplashRequest(
            url='https://quotes.toscrape.com/login',
            endpoint='execute',
            args = {
                'lua_source': self.script
            },
            callback=self.parse
        )

&nbsp;&nbsp;&nbsp;&nbsp;def&nbsp;parse(self,&nbsp;response):
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;csrf_token&nbsp;=&nbsp;response.xpath('//input[@name="csrf_token"]/@value').get()
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;yield&nbsp;SplashFormRequest.from_response(
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;response,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;formxpath='//form',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;formdata={
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'csrf_token':&nbsp;csrf_token,
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'username':&nbsp;'admin',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'password':&nbsp;'admin'
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;callback=self.after_login
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;def&nbsp;after_login(self,&nbsp;response):
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;response.xpath("//a[@href='/logout']/text()").get():
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print('logged&nbsp;in')</pre><p>Finally, please make sure to add Splash to your settings.py file as explained in the course.</p><p>Kind regards,</p><p>Ahmed.</p>